@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}

.ql-snow {
  border: none !important;
  font-size: 16px !important;
}
.ql-snow .ql-picker {
  color: #ddd;
}
.ql-snow .ql-stroke {
  stroke: #ddd;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  border: none;
}
.ql-snow .ql-picker-options {
  background-color: #181818;
  color: #ddd;
  border: none;
}
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  border: none;
}
